:root{
    --bodybgcolor:white;
    --bodycolor:black;
    --navbarbg:rgb(215, 178, 178);
    --logotextcolor:black;
    --navlinkcolor:black;
    --navlinkbg:bisque;
    --navlinkbghover:#bbb;
    --navlinkcolorhover:rgb(8, 144, 101);
}
body{
    background: var(--bodybgcolor);
    margin: 0;
}
.nav{
    background: var(--navbarbg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 80px;
}
.nav .logo{
    padding-left: 5px;
    margin-right: auto;
}
.nav .logo a{
    text-decoration: none;
    color: var(--logotextcolor);
}
.nav .scroll{
    display: block;
    height: 80px;
    overflow-y: hidden;
    overflow-x: auto;
}
.nav .navitems{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
}
.nav .navlink{
    text-decoration: none;
    color:var(--navlinkcolor);
    background-color: var(--navlinkbg);
    padding: 15px 10px;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.3rem;
    font-weight: 600;
}
.nav .navlink:hover{
    background-color: var(--navlinkbghover);
    color: var(--navlinkcolorhover);
    font-weight: 900;
    transform: scale(1.3);
}